// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin typographyText($font,$size,$weight,$height,$color) {
    font-family: $font;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color:$color
}