// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


//font-variables
$font-Roboto : 'Roboto', sans-serif;
$font-bold:900;
$font-regular:400;





//color-variables
$gray-color:#7A7A7A;
$green-color:#76A72E;



