/**
 * Basic typography style for copy text
 */
.addressbar{
    &__offer{
       @include typographyText($font-Roboto,14px,$font-regular,25px,$gray-color);
       margin:0;

    }
    &__link{
        @include typographyText($font-Roboto,14px,$font-regular,25px,$gray-color);
       margin: 0;
        &:hover{
            @include typographyText($font-Roboto,14px,$font-regular,25px,$green-color);
            text-decoration: none;
        }
    }
}